/* Keyframes for sliding in from left */
@keyframes slideInLeft {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

/* Keyframes for sliding in from right */
@keyframes slideInRight {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.detail {
  
  width: 100%;
  gap: 40px;
  justify-content: space-evenly;
  display: flex;
  align-items: flex-start;
  margin-top: 30px;

}
.mainabout{
  width: 85%;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.slide-in-left {
  animation: slideInLeft 1s ease-in-out forwards;
}

.slide-in-right {
  animation: slideInRight 1s ease-in-out forwards;
}

.container {
  gap:50px;
width: auto;
margin-bottom: 30px;
}

.Col {
  flex:1;
  display: flex;
  flex-direction: row;
  padding-bottom:30px;
}
.col{
  width: 60%;
}
.colimg{
  width: 40%;
}

.hello{
  font-size: 28px;
  font-weight: 550;
}

.name {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffa200;
  font-size: 40px;
}

.domain a{
  font-size: 25px;
  color: #ffa200;
  text-decoration: none;
}


.typewriter-text {
  display: inline-block;
  overflow: hidden; 
  border-right: 0.08em solid #ffa200; 
  color: #ffa200;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}


@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

/* The cursor effect */
@keyframes blink-caret {
  from,
  to {
      border-color: #ffa200; 
  }
  50% {
      border-color: #ffa200; 
  }
}

.col h1 h2 {
  margin-bottom: 5px;
}

.col p {
  font-size: 16px;
  margin-top: 5px;
}

.images img {
      width: 400px;
      height: 450px;
}


.boy{

}

.rowbuttons {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  text-align: bottom;
  border-radius: 30px;
}

.rowbuttons a {
  display: flex;
  align-items: center;
  background-color: #ffa200;
  border: 5px solid #ffa200;
  padding: 5px;
  margin-right: 20px;
  font-size: 20px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.rowbuttons a:hover,
.rowbuttons a:active {
  background-color: white;
  color: #ffa200;
}

.resume span {
  margin-right: 10px; 
  border-radius: 30px;
}

.download-icon {
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  transition: color 0.3s; 
}

.rowbuttons a:hover .download-icon,
.rowbuttons a:active .download-icon {
  color: #ffa200; 
}

.resume img{
  background-color: transparent;
}

@media screen and(max-width:1100) {
  .images {
    padding-left: 150px;
    padding-right: 20px; 
    margin-top: -70px; 
    height: 300px;
  }
  .colimg{
    display: none;
  }
  
  .boy{
    position: relative;
    bottom: 340px;
    right: -70px;
    width: 350px;
    height: 460px;
  }
  
}
@media screen and (max-width: 1000px) {
  .images img {
      width: 300px;
      height:350px;
  }
}
@media screen and (max-width:500px) {
  .images {
      display: none;
      width: 0%;
  }
  .image img{
    width: 50px;
    height: 50px;
  }
  .col{
    width: 110%;
  }
  .col1{
    width: 100%;
  }
  .col h1 h2 {
    margin-bottom: 5px;
  }
.container{
  width: 100%;
}
  .col p {
    font-size: 12px;
    margin-top: 5px;
  }
  .hello{
    font-size: 18px;
    font-weight: 550;
  }
  
  .name {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffa200;
    font-size: 29px;
  }
  .colimg{
    width: 0%;
  }
  .rowbuttons {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    text-align: bottom;
    border-radius: 30px;
  }
  
  .rowbuttons a {
    display: flex;
    align-items: center;
    background-color: #ffa200;
    border: 5px solid #ffa200;
    padding: 0;
    margin-right: 20px;
    font-size: 15px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  .resume span {
    margin-right: 1px; 
    border-radius: 30px;
  }
  
  .download-icon {
    color: white;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s; 
  }

}
